/*** Color setting ***/
:root {
  --side-bar-bg-color: rgba(231,153,176,0.5);
  --window-border: 2px solid #E799B0;
/*  --active-file-bg-color: #E799B0;
  --active-file-text-color: #ffffff;
  --active-file-border-color: #757575;
  --active-search-item-bg-color: #23242b;
  --item-hover-bg-color: #ececec;
  --item-hover-text-color: #000000;
  --control-text-color: #ddd;*/
  /*--code-cursor: #f0f0f0;*/
}
html,
body,
content {
    background: #f6d9e1;
}

#write {
  background-color: #fff !important; 
  width: 80%;
  line-height: 1.6;
  height: auto;
  background: url("./jiaran.png") no-repeat;
  background-size: 10%;
  background-position: 90% bottom;
  background-attachment: fixed;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #E799B0;
}

/*** Btn in search bar ***/
#filesearch-case-option-btn,
#filesearch-word-option-btn {
  background: #E799B0;
}

/****** Sidebar ******/
#typora-sidebar {
  color: #404040;
  font-weight: bold;
}

#sidebar-files-menu {
  border: 2px solid #E799B0;
}

.file-list-item {
  color: #000;
  border-bottom: var(--window-border);
  overflow: hidden;
}

.file-list-item.active {
  background-color: rgba(222,114,146,0.6);
  color: #000;
}

.file-list-item-file-name {
  font-weight: 700;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 2;
}

.file-node-content {
  padding-top: 6px;
  margin-bottom: 6px;
  white-space: nowrap;
  font-weight: normal;
  overflow: hidden;
}

.file-node-content:active {
  background-color: #de7292;
}

.active .file-node-content {
  font-weight: bold;
}

.ty-on-drag-enter {
  background-color: #E799B0;
}

.file-node-content:hover {
  cursor: pointer;
  background: #f6d9e1;
  border-radius: 10px;
}

.file-node-icon,
.file-node-open-state {
  padding-left: 10px;
  margin-right: 6px;
  float: left;
}

#typora-sidebar .file-list-item.file-library-node:not(.active):hover {
  background: #f6d9e1;
}

#typora-sidebar .file-tree-node.file-library-file-node.active .file-node-background {
  background: #E799B0;
  border-left: 5px solid #404040;
}

.sidebar-footer {
  background: #f0bfce;
  /*border-top: 1px #de7292 solid;*/
}

.html-for-mac #file-library-search-input {
  font-weight: normal;
  color: #202020;
}

#typora-sidebar #ty-sidebar-footer .sidebar-footer-item:hover {
  background: #eaa6ba;
}

#typora-sidebar #outline-content .outline-item:hover {
  background: #f0bfce;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .show+.menuitem-group-label.show {
  border-color: #E799B0;
}

#typora-sidebar #ty-sidebar-footer {
  border-top: var(--window-border);
  color: #202020;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu li>a:hover {
  background: #edb3c4;
  border-radius: 5px
}
#typora-sidebar #ty-sidebar-footer #sidebar-files-menu {
  background: #f6d9e1;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .ty-side-sort-btn.active {
  background: #f6d9e1;
}

#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .ty-side-sort-btn.active,
#typora-sidebar #ty-sidebar-footer #sidebar-files-menu .ty-side-sort-btn:hover {
  color: #576690;
}



.CodeMirror-lines {
    padding-left: 4px;
}

.code-tooltip {
    box-shadow: 0 2px 2px 0 #f0bfce;
    font-weight: bold;
}

.md-fences,
code,
tt {
    border: 1px solid #f3ccd8;
    background-color: #fcf2f5;
    border-radius: 3px;
    padding-left: 5px;
    font-size: 0.9em;
}

.md-fences {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
}

.mathjax-block {
  box-shadow: 0 2px 2px 0 #f0bfce;
}

blockquote {
    border-left: 4px solid #E799B0;
    padding: 0 15px;
    color: #777777;
}

table {
    padding: 0;
    word-break: initial;
}
table tr {
    border: 1px solid #f0bfce;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n),
thead {
    background-color: rgba(252,242,245,0.6);
}
table th {
    border: 1px solid #f0bfce;
    margin: 0;
    padding: 6px 13px;
}
table td {
    border: 1px solid #f0bfce;
    margin: 0;
    padding: 6px 13px;
}

.md-reset {
  background-color: #fff;
}

.md-reset .md-grid-ext {
  background-color: #eaa6ba;
}

.md-reset .md-grid-ext a.md-active {
  background-color: #f6d9e1;
}

.md-reset a.md-active {
  background-color: #f6d9e1;
}